<div class="container" id="signup">
  <h2>Edit User</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "billqu-form" } ) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %>
      <% if @validatable %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Update Account", class: 'btn btn-primary btn-block' %>
    </div>
  <% end %>
</div>

<% if current_user.standard? %>
  <div class="container">
    <div class="row text-center">
      <h4>Upgrade my Account</h4>
     <%= link_to "Upgrade my Account", new_charge_path,  class:"btn btn-success"%>
    </div>
  </div>
<% elsif current_user.premium? %>
  <div class="container">
    <div class="row text-center">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), method: :patch ) do |f| %>
      <%= f.hidden_field :role, value: 'standard' %>
      <%= f.submit 'Downgrade your account', class:"btn btn-danger" %>
    <% end %>
    </div>
  </div>
<% end %>


<div class="container cncl">
  <div class="row text-center">
    <h4>Cancel My Account</h4>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %>
  </div>
</div>
