<div class="container">
  <div class="header">
    <h2><%= @code.title %></h2>
  </div>
</div>
<div class="container">
  <%= form_for @code do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: markdown_to_html(@code.title) %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 20, class: 'form-control', placeholder: markdown_to_html(@code.body) %>
      </div>
      <div class="form-group">
        <% if current_user.standard? %>
          <%= link_to "Upgrade to Premium!", edit_user_registration_path, class: 'btn btn-lg btn-info' %>
        <% else %>
          <div class="row">
            <div class="col-md-4 offset-2"
            <%= f.label :private, class: 'checkbox' do %>
              <%= f.check_box("private") %> Private Code
            <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="form-group">
           <%= f.submit "Save", class: 'btn btn-success btn-large' %>
      </div>
    <% end %>
</div>

<% if @code.users.include?(current_user) || current_user.admin? %>
  <div class="container">
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#editors" aria-expanded="false" aria-controls="editors">
      Change Collaborators
    </button>
    <div class="collapse" id="editors">
      <div class="well">
        <table class="table table-bordered">
          <th>User Email</th>
          <th>Remove User</th>
          <% @users.each do |user| %>
          <tr>
            <td><%= user.email %></td>
            <td><%= link_to "Remove User", remove_editor_code_path(@code, user), method: :delete %></td>
          </tr>
          <% end %>
        </table>
      </div>
      <%= render "new_editor" %>
    </div>
</div>
<% end %>

